
<footer class="bg-dark text-white  py-4">
    <div class="container text-center text-md-left">
      <div class="row ">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30289.13166212864!2d78.805048!3d18.386412!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bccfc9bdc36d9bd%3A0xaf1432e16c9e5309!2sSircilla%2C%20Telangana%20505301!5e0!3m2!1sen!2sin!4v1682452962148!5m2!1sen!2sin"
          width="1200" height="200" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="row text-center text-md-left">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h4 class="text-uppercase mb-4 font-weight-bold text-info">PhotoFrames</h4>
          <p>This Website for photoframes and
            some special gift's for your loving
            persons or friend's..etc.</p>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h4 class="text-uppercase mb-4 font-weight-bold text-info">Products</h4>
          <p>
            <a href="#" class="text-white" style="text-decoration: none;">Wood photoFrames</a>
          </p>
          <p>
            <a href="#" class="text-white" style="text-decoration: none;">Lighting photoFrames</a>
          </p>
          <p>
            <a href="#" class="text-white" style="text-decoration: none;">Cups Printing</a>
          </p>
          <p>
            <a href="#" class="text-white" style="text-decoration: none;">Tshirts Printing</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h4 class="text-uppercase mb-4 font-weight-bold text-info">Useful links</h4>
          <p>
            <a href="#" class="text-white" style="text-decoration: none;">Your Account</a>
          </p>
          <p>
            <a href="#" class="text-white" style="text-decoration: none;">Become an a seller</a>
          </p>
          <p>
            <a href="#" class="text-white" style="text-decoration: none;">Help</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h4 class="text-uppercase mb-4 font-weight-bold text-info">Contact</h4>
          <p>
            <i class="fa fa-home me-3"></i>Sircilla,Telangana,India
          </p>
          <p>
            <i class="fa fa-envelope me-3"></i>rkdigitals@gmail.com
          </p>
          <p>
            <i class="fa fa-phone me-3"></i>+91 9966996644
          </p>
        </div>
      </div>
      <hr class="mb-4">
      <div class="row align-items-center">
        <div class="col-md-7 col-lg-7">
          <p>&#169; Copyright 2023 All rights reserved by :
            <a href="#" style="text-decoration: none;">RK Digital's</a>
          </p>
        </div>
        <div class="col-md-5 col-lg-5">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="https://www.instagram.com/" class="m-1">
                <img style="height: 30px;width: 30px;"
                  src="https://cdn.iconscout.com/icon/free/png-512/free-instagram-1868978-1583142.png?f=avif&w=256">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/" class="m-1">
                <img style="height: 30px;width: 30px;"
                  src="https://cdn.iconscout.com/icon/free/png-512/free-facebook-262-721949.png?f=avif&w=256">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.twitter.com/" class="m-1">
                <img style="height: 30px;width: 30px;"
                  src="https://cdn.iconscout.com/icon/free/png-512/free-twitter-44-125621.png?f=avif&w=256">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkdin.com/" class="m-1">
                <img style="height: 30px;width: 30px;"
                  src="https://cdn.iconscout.com/icon/premium/png-512-thumb/linkdin-7198716-5859798.png?f=avif&w=256">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>