<div class="container justify-content-center ">
    <div class="row">
        <div class="col-md-4 col-lg-3 col-sm-4 my-2" *ngFor="let item of productlist |filter:search ">
            <div class="card ">
                <a routerLink="/productdetails/{{item.Id}}" style="text-decoration: none; color: inherit;">
                    <div class="card-body">
                        <div class="card-img-actions">
                            <img src="{{item.Productimage}}" class="card-img img-fluid" height="80" width="100"
                                onerror="this.src='./assets/Images/1.jpg'">
                        </div>
                    </div>
                    <div class="card-body bg-light text-center">
                        <div class="mb-2">
                            <h6 class="font-weight-semibold mb-2">
                                <a href="#" class="text-default mb-2" data-abc="true">{{item.Productname}}</a>
                            </h6>
                            <p class="text-fluid">{{item.Productdescription}}</p>
                        </div>
                        <h3>{{item.productprice|currency:"INR"}}</h3>
                        <button type="button" class="btn btn-warning px-5 bg-cart"><i class="fa fa-cart-plus mr-2"></i> Add to
                            cart</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
