<div class="bg-white mt-5 pt-5">
    <div class="row py-5">
        <div class="col text-center">
            <span class="display-1">404
            </span>
        </div>
    </div>
    <div class="row bg-light py-5">
        <div class="col text-center">
            <h1>Sorry, Page Not Found</h1>
            <p>The page you requested could not be found</p>
            <div class="py-3">
                <button class="btn btn-dark rounded-pill"><b>Go Back Home</b></button>
            </div>
        </div>
    </div>
</div>