<!-- <div *ngIf="list==null"> -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="./assets/Images/01.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="./assets/Images/02.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="./assets/Images/03.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container p-5">
  <h3 class="text-center text-secondary">Photo Frames</h3>
  <p class="text-center text-secondary">Re-live your golden memories by decorating your home with photographs</p>
</div>
<!-- Products  -->

<app-productlist></app-productlist>

<section class="bg-light padding-y">
  <div class="container py-3">

    <header class="section-heading mt-2 mb-5">
      <h3 class="section-title">Why choose us</h3>
    </header>

    <div class="row mb-4">
      <div class="col-lg-4 col-md-6">
        <figure class="itemside align-items-center mb-4">
          <div class="aside">
            <span class="rounded-circle shadow-sm text-primary icon-lg bg-white">
              <i class="fa fa-money-bill"></i>
            </span>
          </div>
          <figcaption class="info">
            <h6 class="title">Reasonable prices</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor </p>
          </figcaption>
        </figure> <!-- itemside // -->
      </div><!-- col // -->
      <div class="col-lg-4 col-md-6">
        <figure class="itemside align-items-center  mb-4">
          <div class="aside">
            <span class="rounded-circle shadow-sm text-primary icon-lg bg-white">
              <i class="fa fa-star"></i>
            </span>
          </div>
          <figcaption class="info">
            <h6 class="title">Best quality</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor </p>
          </figcaption>
        </figure> <!-- itemside // -->
      </div><!-- col // -->
      <div class="col-lg-4 col-md-6">
        <figure class="itemside align-items-center  mb-4">
          <div class="aside">
            <span class="rounded-circle shadow-sm text-primary icon-lg bg-white">
              <i class="fa fa-plane"></i>
            </span>
          </div>
          <figcaption class="info">
            <h6 class="title">Worldwide shipping</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor </p>
          </figcaption>
        </figure> <!-- itemside // -->
      </div> <!-- col // -->
      <div class="col-lg-4 col-md-6">
        <figure class="itemside align-items-center  mb-4">
          <div class="aside">
            <span class="rounded-circle shadow-sm text-primary icon-lg bg-white">
              <i class="fa fa-users"></i>
            </span>
          </div>
          <figcaption class="info">
            <h6 class="title">Customer satisfaction</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor </p>
          </figcaption>
        </figure> <!-- itemside // -->
      </div><!-- col // -->
      <div class="col-lg-4 col-md-6">
        <figure class="itemside align-items-center mb-4">
          <div class="aside">
            <span class="rounded-circle shadow-sm text-primary icon-lg bg-white">
              <i class="fa fa-thumbs-up"></i>
            </span>
          </div>
          <figcaption class="info">
            <h6 class="title">Happy customers</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor </p>
          </figcaption>
        </figure> <!-- itemside // -->
      </div><!-- col // -->
      <div class="col-lg-4 col-md-6">
        <figure class="itemside align-items-center mb-4">
          <div class="aside">
            <span class="rounded-circle shadow-sm text-primary icon-lg bg-white">
              <i class="fa fa-box"></i>
            </span>
          </div>
          <figcaption class="info">
            <h6 class="title">Thousand items</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmor </p>
          </figcaption>
        </figure> <!-- itemside // -->
      </div> <!-- col // -->
    </div>
  </div> <!-- container end.// -->
</section>
<section class="padding-y my-5">
  <div class="container">

    <header class="section-heading">
      <h3 class="section-title">Blog posts</h3>
    </header>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <article>
          <a href="#" class="img-wrap">
            <img class="rounded w-100" src="assets/Images/Images/posts/1.webp" height="160">
          </a>
          <div class="mt-2">
            <time class="text-muted small d-block mb-1" datetime="2022-02-14 00:00"> <i class="fa fa-calendar-alt"></i>
              23.12.2021</time>
            <a href="#">
              <h6 class="title">How to promote brands</h6>
            </a>
            <p>When you enter into any new area of science, you almost reach</p>
          </div>
        </article>
      </div> <!-- col.// -->

      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <article>
          <a href="#" class="img-wrap">
            <img class="rounded w-100" src="assets/Images/Images/posts/2.webp" height="160">
          </a>
          <div class="mt-2">
            <time class="text-muted small d-block mb-1" datetime="2022-02-14 00:00"> <i class="fa fa-calendar-alt"></i>
              03.09.2022</time>
            <a href="#">
              <h6 class="title">How we handle shipping</h6>
            </a>
            <p>When you enter into any new area of science, you almost reach</p>
          </div>
        </article>
      </div> <!-- col.// -->

      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <article>
          <a href="#" class="img-wrap">
            <img class="rounded w-100" src="assets/Images/Images/posts/3.webp" height="160">
          </a>
          <div class="mt-2">
            <time class="text-muted small d-block mb-1" datetime="2022-02-14 00:00"> <i class="fa fa-calendar-alt"></i>
              13.12.2021</time>
            <a href="#">
              <h6 class="title">How to promote brands</h6>
            </a>
            <p>When you enter into any new area of science, you almost reach</p>
          </div>
        </article>
      </div> <!-- col.// -->

      <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <article>
          <a href="#" class="img-wrap">
            <img class="rounded w-100" src="assets/Images/Images/posts/4.webp" height="160">
          </a>
          <div class="mt-2">
            <time class="text-muted small d-block mb-1" datetime="2022-02-14 00:00"> <i class="fa fa-calendar-alt"></i>
              25.11.2022</time>
            <a href="#">
              <h6 class="title">Success story of sellers</h6>
            </a>
            <p>When you enter into any new area of science, you almost reach</p>
          </div>
        </article>
      </div> <!-- col.// -->
    </div> <!-- row.// -->

  </div> <!-- container end.// -->
</section>
<!-- </div> -->
<!-- 
<div class="cantainer" *ngIf="list!=null">
  <p>you serched this {{search}}</p> -->
<!-- <table>
    <tr *ngFor="let item of list |filter:search" class>
       <tr *ngFor="let item of list " class> 
      <td class="p-1 ">
        <img src="{{item.productimage}}" alt="Red dot" style="width: 100px;height: 100px;">
      </td>
      <td class="p-1">{{item.productname}}</td>
      <td class="p-1 ">
        <textarea value="{{item.productdescription}}" class="trtextarea text-justify" cols="50" rows="3" readonly>
      </textarea>
      </td>
      <td class="p-1">{{item.productprice}}</td>
      <td class="p-1 text-center">
        <div class="container">
          <button class="btn btn-info mx-1" data-bs-toggle="modal" data-bs-target="#detailmodel"><i
              class="fa fa-user px-1"></i>Details</button>
          <button class="btn btn-warning mx-1" data-bs-toggle="modal" data-bs-target="#editmodel"><i
              class="fa fa-pencil px-1"></i>Edit</button>
          <button class="btn btn-danger mx-1" data-bs-toggle="modal" data-bs-target="#deletemodel"><i
              class="fa fa-trash px-1"></i>Delete</button>
        </div>
      </td>
    </tr>
  </table>
</div> -->